# requirements.txt
streamlit
langchain-community
langchain-google-genai
langchain-core
langchain-text-splitters
langchain-huggingface
python-dotenv
sentence-transformers
faiss-cpu
unstructured[pdf,docx]